Flask==2.3.2
Flask-CORS==3.0.10
numpy
fuzzywuzzy
python-Levenshtein
requests==2.31.0
selenium==4.11.2
termcolor==2.3.0
subprocess
asyncio==3.4.3
re
urllib3==2.0.4
beautifulsoup4==4.12.2
logging==0.5.1.2
json
os
dnspython==2.4.2
pexpect==4.8.0
urllib-request==1.27
certifi==2023.7.22
